body {
    background-color: rgb(230, 237, 255);
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: center;

}
.title{
    text-align: center;
    padding: 3px 0;
    background-color: rgb(205, 161, 247);
    border-style: solid;
    border-color: rgb(184, 147, 254);
   }

#icon{
    width: 30px;
    cursor: pointer;
    margin-left: auto;
}

.dark-theme{
    background-color: rgb(30, 26, 56);
    color:#80F4F8;
   
}

.dark-theme .title{
    text-align: center;
    padding: 3px 0;
    background-color: rgb(14, 59, 65);
    border-style: solid;
    border-color: #80F4F8;
   
    
}


.Images{
    margin: 10px 50px;
    text-align: center;
}

.image-item{
    width: 230px;
    padding: 5px ;
    filter:grayscale(100%)
    
}

.image-item:hover{
    filter: grayscale(0);

}

.image-item{
        width: 100px;
    }

#BigPic{
        width: 300px;
    }

.menubtn {
        background-color: rgb(249, 196, 255);
        color: white;
        padding: 16px;
        font-size: 20px;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        border: none;
    }
    
.dropdown {
        position: relative;
        display: inline-block;   
    }
    
.menucontent{
        display: none;
        position: absolute;
        background-color: rgb(213, 205, 255);
        min-width: 160px;
        z-index: 1;
    }
    
nav {
        background-color: rgb(126, 42, 165)
    }
    
.link,.link-hide{
        display: inline-block;
        color:rgb(15, 15, 13);
        padding: 12px 16px;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
    }
    
.link-hide {
        display: block;
    }
    
.link {
        display: inline-block;
    }
    
.link-hide:hover,.link:hover {
        background-color: rgb(226, 122, 255);
        color: rgb(222, 196, 255);
    }
    
    
.dropdown:hover .menucontent {
        display: block;
    }
    
.dropdown:hover .menubtn {
        background-color: rgb(247, 205, 255);
    }
    
.dropdown .menubtn:hover + .menucontent {
        display: block;
    }

