.title{
    text-align: center;
    padding: 3px 0;
    background-color: rgb(205, 161, 247);
    border-style: solid;
    border-color: rgb(184, 147, 254);
   }
   
   .details{
       text-align: center;
       font-family: Garamond;
   
   }
   
   .bottom{
       text-align: center;
       font-family: "Times New Roman";
   }
   
   .Section{
       background-color: rgb(217, 183, 252);
       text-align: center;
   }

   body{
    background-color: rgb(230, 237, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.menubtn {
    background-color: rgb(249, 196, 255);
    color: white;
    padding: 16px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;   
}

.menucontent{
    display: none;
    position: absolute;
    background-color: rgb(213, 205, 255);
    min-width: 160px;
    z-index: 1;
}

nav {
    background-color: rgb(126, 42, 165)
}

.link,.link-hide{
    display: inline-block;
    color:rgb(15, 15, 13);
    padding: 12px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.link-hide {
    display: block;
}

.link {
    display: inline-block;
}

.link-hide:hover,.link:hover {
    background-color: rgb(226, 122, 255);
    color: rgb(222, 196, 255);
}


.dropdown:hover .menucontent {
    display: block;
}

.dropdown:hover .menubtn {
    background-color: rgb(247, 205, 255);
}

.dropdown .menubtn:hover + .menucontent {
    display: block;
}